#bodi {
    background-position: center;
    background-image: url("../images/background.jpg");
}
#map{ 
    border-color:blue;
    border-style: outset;
    height: 800px;
    width: 100%;
    position:inherit;
    margin-bottom: 10%;
    
    text-align: center;
}
#buttons { 
    text-align: center;
    color:azure;
    position: inherit;
    size: 1%;
}